


<div class="square">
    <p>Witaj w aplikacji chatowej, w celu utworzenia losowego pokoju kliknij poniższy przycisk </p>
</div>
<div class="circle">
    <p>życzę miłej zabawy! </p>
</div>
<div class="button-container">
    <button phx-click="random-room" title="Stwórz nowy pokój"

    onClick="window.location.href = '<%=@random_slug%>'"

    >Kliknij tutaj</button>


</div>


<center> © Własność Karoliny 2023</center>
